<div class="container">
  <div class="asian-persuation">
    <div class="col-sm-10 asian-section1">
      <p class="float-left">BRISBANE</p>
      <p class="float-left text1">SYDENY</p>
      <p class="float-left text1">MELBOURNE</p>
      <p class="float-left text1">ADELAIDE</p>
      <p class="float-left text1">PERTH</p>

    </div>
  </div>

  <div class="text-align-center">
    <h3 class="secion2">
    PV panels are now dominated by Chinese made brands, now it is time for Inverters to dominate the market.
    </h3>

    <p class="secion3">
    Once their was a time when a Chinese made inverter was not trusted, but not now. That has all
    </p>


    <p class="secion3">
    changed as these brands are taking Solar Inverter Industry by storm. With patented
    </p>

    <p class="secion3">
    technologies and breakthrough achievements,Chinese brands are now loudly proud and
    </p>

    <p class="secion3">
    dominate markets all over the world. OSW is uniquely positioned to deliver you these brands
    </p>

    <p class="secion3">
     that will drive your business to new highs.
    </p>


    <p class="secion3">
    Our Key Note Speaker Glen Morris has a lot to say on this subject, as does our MC Anthony
    </p>

    <p class="secion3">
    Buckwell.The event will conclude with complimentary canapes & drinks, and the chance to
    </p>

    <p class="secion3">
    mingle and network with events sponsors and other industry leaders!
    </p>

    <h1>
      Don't believe us? Then come and hear from these incredible brands!
    </h1>
  </div>
</div>

  <div class="section4">
    <p class="section5-first section5">
      1. Huawei is a leading solar inverter manufacturer, No.1 in global shipment 2015-2017 totaling 75GW
    </p>

    <p class="section5">
      2. Made for Australia – introducing 29.9KTL inverter for C&I scenario
    </p>

    <p class="section5">
      3. Superior design with game-changing features that maximise energy yield and minimise cost of O&M
    </p>

    <p class="section5">
      4. One-fits-all flexible PV solution for residential rooftops
    </p>

    <button class="section5-btn">
      FIND OUT MORE
    </button>
  </div>

  <div class="section6">
    <p class="section6-picture">
      Sungrow is a global leading inverter solution supplier for renewables with over 79 GW installed worldwide as of Dec 2018. Founded in 1997 by University Professor Cao Renxian, Sungrow is a leader in the research and development of solar inverters, with the largest dedicated R&D team in the industry and a broad product portfolio offering PV inverter solutions and energy storage systems for utility-scale, commercial, and residential applications, as well as internationally recognized floating PV plant solutions. With a strong 22-year track record in the PV space, Sungrow products power installations in over 60 countries, maintaining a worldwide market share of over 15%.
    </p>

    <button class="section6-btn">
      FIND OUT MORE
    </button>
  </div>

  <div class="section7">
    <p class="section7-picture">
      GoodWe will deliver intimate knowledge of its full range of products and detailed knowhow about both
      residential and commercial storage solutions coupled with its ES & ET battery inverters and SBP AC-coupled
      retrofit device. The course also covers technical and sales aspects that assist you in transitioning from
      residential to commercial market. More importantly, find out what kind of added value GoodWe is
      concentrating on for your future.
    </p>

    <button class="section7-btn">
       FIND OUT MORE
    </button>

  </div>

  <div class="section8">
    <div class="col-sm-2 picture col-sm-offset-1">
      <h3>
        BRISBANE
      </h3>
      <%= image_tag("asian_persuasion_practicing/brisbane.png", class:"asian-picture") %>
      <p class="section8-txt">
        1.00pm - 5.00pm Thursday 14/03/2019 Easts League Club
      </p>
    </div>

    <div class="col-sm-2 picture">
      <h3>
        SYDNEY
      </h3>
      <%= image_tag("asian_persuasion_practicing/sydney.png", class:"asian-picture") %>
      <p class="section8-txt">
        1.00pm - 5.00pm Tuesday 19/03/2019 Dooleys Lidcombe Club
      </p>
    </div>

    <div class="col-sm-2 picture">
      <h3>
        MELBOURNE
      </h3>
      <%= image_tag("asian_persuasion_practicing/melbourne.png", class:"asian-picture") %>
      <p class="section8-txt">
        1.00pm - 5.00pm Monday 25/03/2018 The Kew Gold Club
      </p>
    </div>

    <div class="col-sm-2 picture">
      <h3>
        ADELAIDE
      </h3>
      <%= image_tag("asian_persuasion_practicing/adelaide.png", class:"asian-picture") %>
      <p class="section8-txt">
        1.00pm - 5.00pm Friday 29/03/2019 Royal Adelaide Golf Club
      </p>
    </div>

    <div class="col-sm-2 picture">
      <h3>
        PERTH
      </h3>
      <%= image_tag("asian_persuasion_practicing/perth.png", class:"asian-picture") %>
      <p class="section8-txt">
        12.30pm - 5.00pm Wednesday 10/04/2019 Royal Perth Golf Club
      </p>
    </div>

    <button class="section8-btn">
      REGISTER NOW
    </button>
  </div>

  <div class="section9">
    <div class="col-sm-3 col-sm-offset-1 picture">
      <%= image_tag("asian_persuasion_practicing/glen_morris.png",class:"section9-picture")%>
    </div>
    <div class="col-sm-8 text1">
      <h3 class="title">Glen Morris</h3>
      <p>
        Glen has worked in electronics, renewable energy, software development, web hosting and vocational training. His current passion for training practitioners of renewable energy brings together his wide range of skills. Glen is very passionate about making a difference - helping the community move towards a more sustainable planet.
      </P>
      <p>Glen is the General Manager for SmartLabEnergy and owner of both Solaris Pty Ltd & SolarQuip.</p>
    </div>

  </div>
