<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "sample app", '#', id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><input type="text" placeholder="搜索"class="form-control white"></li>
        <li><%= link_to "Home",   root_path %></li>
        <li><%= link_to "Help",   help_path %></li>
        <li>
          <% if logged_in? %>
            <%= link_to current_user.name, "#" %>

          <% else %>
            <%=  link_to "Log in", new_session_path %>
          <% end %>
        </li>
      </ul>
    </nav>
  </div>
</header>
